<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Register</h3>
        <form action="/register"
              method="POST">
            <div class="card mb-3">
                <div class="card-header">
                    User
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="firstName">
                            First Name
                            <span class="text-danger">*</span>
                        </label>
                        <input name="firstName"
                               id="firstName"
                               type="text"
                               class="form-control"
                               value="John">
                    </div>
                    <div class="form-group">
                        <label for="lastName">
                            Last Name
                            <span class="text-danger">*</span>
                        </label>
                        <input name="lastName"
                               id="lastName"
                               type="text"
                               class="form-control"
                               value="Doe">
                    </div>
                    <div class="form-group">
                        <label for="username">
                            Username
                            <span class="text-danger">*</span>
                        </label>
                        <input name="username"
                               id="username"
                               type="text"
                               class="form-control"
                               value="johndoe">
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Password
                            <span class="text-danger">*</span>
                        </label>
                        <input name="password"
                               id="password"
                               type="text"
                               class="form-control"
                               value="@Test123">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">
                            Confirm Password
                            <span class="text-danger">*</span>
                        </label>
                        <input name="confirmPassword"
                               id="confirmPassword"
                               type="text"
                               class="form-control"
                               value="@Test123">
                    </div>
                    <div class="form-group">
                        <label for="email">
                            Email
                            <span class="text-danger">*</span>
                        </label>
                        <input name="email"
                               id="email"
                               type="text"
                               class="form-control"
                               value="johndoe@example.com">
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    OAuth Client
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="clientId">
                            Client ID
                            <span class="text-danger">*</span>
                        </label>
                        <input name="clientId"
                               id="clientId"
                               type="text"
                               class="form-control"
                               value="api">
                    </div>
                    <div class="form-group">
                        <label for="Client Secret">
                            Client Secret
                            <span class="text-danger">*</span>
                        </label>
                        <input name="clientSecret"
                               id="clientSecret"
                               type="text"
                               class="form-control"
                               value="secret">
                    </div>
                    <div class="form-group">
                        <label for="redirectUris">
                            Redirect URIs
                            <span class="text-danger">*</span>
                        </label>
                        <input name="redirectUris"
                               id="redirectUris"
                               type="text"
                               class="form-control"
                               value="http://localhost:3000/oauth/callback">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary">
                Create Account
            </button>
        </form>
    </div>
</div>